body {
background-color: #191919; 
}
body.light {
background-color:rgb(150, 150, 150);
}

header {
    text-align: center;
    background-image: url('../Imagens/1.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 200px 0;
    height: 200px; 
    background-color: #030303; 
    position: relative;
}

body.light header {
    background-image: url('../Imagens/2.png');
}



/*abas de navegação*/
nav {
    background-color: #000000;
    text-align: center;
    border-bottom: 2px solid #000000;
    padding: 20px 0;
    transition: background-color 0.3s ease;
}

body.light nav {
    background-color:#414141;
    border-bottom: #414141;
}

nav a {
    color: #ffffff; 
    text-decoration: none; 
    padding: 10px 20px; 
    margin: 0 15px; 
    border-radius: 15px; 
    transition: background-color 0.3s, color 0.3s; 
}
body.light nav a{
    color:#ffffff
}

nav a:hover {
    background-color: #ff0000;
    color: #ffffff;
}
body.light nav a:hover{
    background-color: #eaeaea;
    color:#ff0000
}

/*nav de "Cadastro" e "Entrar"*/
.nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed; 
    top: 20px; 
    right: 20px; 
}
.nav-links ul li {
    display: inline-block; 
    margin-left: 10px; 
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s; 
}

.nav-links ul li a:hover {
    background-color: #ff0000;
    color: #ffffff;
}
body.light .nav-links ul li a:hover{
    background-color: #eaeaea;
    color:red
}

/*Botão de Alterar os temas*/
.switch {
    font-size: 17px;
    position: fixed;
    top: 20px;
    left: 20px;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    z-index: 9999;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid #414141;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body.light .slider{
    border: 2px solid #000000;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: white;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

body.light .slider:before{
    background-color: #000000;
}

.switch input:checked + .slider {
box-shadow: 0 0 20px rgba(255, 255, 255, 0);
border: 2px solid #ffffff;
}

body.light .switch input:checked + .slider{
    border: 2px solid #000000;
}

.switch input:checked + .slider:before {
    transform: translateX(1.5em);
}

.sidebar {
    width: 25%; 
    padding: 10px;
    height: calc(100vh - 60px); 
    margin-top: 60px; 
    z-index: 1; 
    position: fixed; 
}

/*caixa de texto de "Bem Vindo(A)"*/
.row{
    width: 100%;
    max-width: 9000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 5rem 0;
}
.row .imgWarapper{
    overflow: hidden;
}
.row .imgWarapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.row .imgWarapper:hover img{
    transform: scale(1.25);
}
.row .contentWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 30px;
}
.row .contentWrapper span.textWrapper{
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.row .contentWrapper span.textWrapper span{
    display: inline-block;
    background: #ffffff;
    width: 500px;
    height: 4px;
    color: #ff0000;
}
.row .contentWrapper h2{
    font-size: 40px;
    font-weight: 700;
    color: #fffbfb;
    padding-bottom: 20px;
}
.row .contentWrapper p{
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 29px;
    color: #ffffff;
}

/*carrossel de imagem*/
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    text-align: center;
    margin:20px auto;
   box-sizing: border-box;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.carousel-item h3 {
    margin-bottom: 5px;
    color: #ffffff;
    font-variant: all-petite-caps;
}
.carousel-item .btn{
    padding:8px 16px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
}
body.light .carousel-item h3{
    color:#000000
}

.carousel-item p {
    color: #fffdfd;
    font-variant: all-petite-caps;
}
body.light .carousel-item p{
    color:#ffffff
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    color: #ff0000;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1.2rem;
}

body.light .carousel-prev, .carousel-next {
    background-color: #000000;
    color:#ff0000
}
.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}
/*Notícias Rápidas*/
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
  }
  .card{
    width: 325px;
    background-color: #939191;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
  }
  .card img{
    width: 100%;
    height: auto;
  }
  .card-content{
    padding: 16px;
  }
  .card-content h3{
    font: 28px;
    margin-bottom: 8px;
    font-variant: all-petite-caps;
  }
  .card-content p{
    color: #ffffff;
    font-size: 15px;
    line-height: 1.3;
    font-variant: all-petite-caps;
  }
  .card-content .btn{
    display: inline-block;
    padding:8px 16px;
    background-color: rgb(255, 0, 0);
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
  }

/*FAQ de informações rápidas*/

/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{

    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.foowter{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #000000;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff0000;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255,0.2);
    margin:0 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff; 
}

/*footer responsivo*/
@media(max-widht: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-widht: 574px){
    .footer-col{
        width: 100%;
    }
}